@font-face {
  font-family: sans-serif;
  src: url();
}
.navbar{
  display: flex;
  height: min-content;
  background-color: #798888;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.navbar a{
  margin: auto 20px auto 0;
  text-decoration: none;
}
.navbar a:nth-child(2){
  margin-right: 30px;
}
.navbar a:nth-child(5){
  margin-right: auto;
}
.navbar a:visited{
  color: #151a1b;
}
.navbar a.nav-active{
  color: #e2aa19;
  text-decoration: underline;
}
.navbar img{
  width: 180px;
}